<%- include("partials/head", {title: `${currentUser.username}'s Drive`}) %>
<body>
  <%- include('partials/header') %> <% if (locals.currentUser) {%>
  <!-- <h1><%= currentUser.username %></h1> -->

  <div class="index-container">
    <div class="index-sidebar">
      <p>sidebar</p>
      <!-- <a href="/upload-file">Upload a file</a> -->
      <div>
        <form
          action="/file/upload-file/<%= locals.directory.id %>"
          method="POST"
          enctype="multipart/form-data"
        >
          <input type="file" name="uploaded-file" id="uploaded-file" required />

          <button type="submit">Upload</button>
        </form>
      </div>

      <div>
        <form
          action="/directory/create/<%= locals.directory.id %>"
          method="POST"
        >
          <label for="newFolder">New folder:</label>
          <input
            type="text"
            name="newFolder"
            id="newFolder"
            required
            minlength="3"
            maxlength="10"
          />
          <button>Create</button>
        </form>
      </div>
      <div>
        <form
          action="/directory/delete/<%= locals.directory.id %>"
          method="post"
        >
          <button>DELETE DIRECTORY!</button>
        </form>
      </div>
    </div>
    <div class="index-body">
      <!-- Folder link bread crumbs -->
      <div>
        <h2>
          <% if (locals.parents !== null) {%> <% parents.forEach((parent) => {
          %>
          <a href="<%= parent.id %>"><%= parent.name %> ></a>
          <% }) %> <% } %>
          <a href="/directory/<%= locals.directory.id %>"
            ><%= locals.directory.name %> :</a
          >
        </h2>
      </div>

      <div class="items-container">
        <div class="item-list">
          <p class="item-name">Name</p>
          <p class="item-size">Size</p>
          <p class="item-created">Created</p>
        </div>

        <% locals.directory.files.forEach((file) => { %>
        <a href="/file/<%= file.id %>">
          <div class="item-list item-box">
            <p class="item-name">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e8eaed"
              >
                <path
                  d="M240-80q-33 0-56.5-23.5T160-160v-640q0-33 23.5-56.5T240-880h320l240 240v480q0 33-23.5 56.5T720-80H240Zm280-520v-200H240v640h480v-440H520ZM240-800v200-200 640-640Z"
                />
              </svg>
              <%= file.name %>
            </p>
            <p class="item-size"><%= (file.size / 1000).toFixed(1) %> kB</p>
            <p class="item-created"><%= file.createdAt.toDateString() %></p>
          </div>
        </a>
        <% }) %> <% locals.directory.subDirectories.forEach((dir) => { %>
        <a href="/directory/<%= dir.id %>">
          <div class="item-list item-box">
            <p class="item-name">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="24px"
                viewBox="0 -960 960 960"
                width="24px"
                fill="#e8eaed"
              >
                <path
                  d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h240l80 80h320q33 0 56.5 23.5T880-640v400q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H447l-80-80H160v480Zm0 0v-480 480Z"
                />
              </svg>
              <%= dir.name %>
            </p>
            <p class="item-size">...</p>
            <p class="item-created"><%= dir.createdAt.toDateString() %></p>
          </div>
        </a>
        <% }) %>
      </div>

      <% if (locals.message) {%>
      <p><%= locals.message %></p>
      <% } %> <% } %>
    </div>
  </div>
</body>
